
*.pdf
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.log4j2.xml
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.3.100.202501301211
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.cdt.core/.log
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/STM32CubeIDE/Drivers/STM32F4xx_HAL_Driver/LICENSE.txt
.gitignore
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.cdt.core/STM32CubeIDE.language.settings.xml
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.cdt.make.ui/dialog_settings.xml
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.resources/.history/5c/d0ba4abb274b00101618da7b17c2ec56
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.resources/.projects/STM32CubeIDE/.location
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.resources/.projects/STM32CubeIDE/.indexes/properties.index
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.resources/.projects/STM32CubeIDE/.indexes/af/history.index
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.common.preferences.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-STM32CubeIDE.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/STM32CubeIDE/.cproject
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/STM32CubeIDE/.mxproject
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/STM32CubeIDE/.project
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/STM32CubeIDE/.settings/language.settings.xml
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/STM32CubeIDE/.settings/org.eclipse.core.resources.prefs
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/STM32CubeIDE/.settings/stm32cubeide.project.prefs
.gitignore
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/STM32CubeIDE/Drivers/CMSIS/LICENSE.txt
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/STM32CubeIDE/Drivers/CMSIS/Device/ST/STM32F4xx/LICENSE.txt
.gitignore
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.lock
03_Development/01-Iteration/Software/WorskpaceSTM32CubeIDE/.metadata/.log
.settings/
Debug/
Release/
*.log
*.o